<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>사용자 입력</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script>
        // 경기년도/월 불러오기
        $(document).ready(function() {
            $.ajax({
                type: "GET",
                url: "/month",
                success: function(response) {
                    console.log(response);
                    for(var i=0; i<response.length; i++) {
                        optionMonth(response[i])
                    }
                }
            })
        });
        function optionMonth(insertValue) {
            let monthHtml = '<option value="'+insertValue+'">'+insertValue+'</option>';
            $('#gameMonth').append(monthHtml);
        }

        // 경기년도에 해당하는 경기번호 불러오기
        $(document).on("change", "#gameMonth", function() {
            var gameMonthVal = $('#gameMonth').val();
            $('#gameNum').html('<option>경기번호</option>');
            $('#gameTeam').html('<option>배구팀</option>');
            $('#gamePlayer').html('<option>배구선수</option>');
            $.ajax({
                type:"POST",
                url: "/number",
                data: { month: gameMonthVal },
                success: function(response) {

                    console.log(response)
                    if(response["result"] == "success") {
                        alert('경기번호를 불러왔습니다.');
                        console.log(response["msg"]);
                        for(var i=0; i<response["msg"].length; i++) {
                            optionNumber(response["msg"][i])
                        }
                    } else {
                        alert(response["msg"]);
                    }
                }
            })
		});
		function optionNumber(insertValue) {
		    let numberHtml = '<option value="'+insertValue+'">'+insertValue+'</option>';
		    $('#gameNum').append(numberHtml);
		}

		// 경기번호에 해당하는 배구팀 불러오기
		$(document).on("change", "#gameNum", function() {
		    var gameMonthVal = $('#gameMonth').val();
            var gameNumVal = $('#gameNum').val();
            $('#gameTeam').html('<option>배구팀</option>');
            $('#gamePlayer').html('<option>배구선수</option>');
            $.ajax({
                type:"POST",
                url: "/team",
                data: { month: gameMonthVal, number: gameNumVal },
                success: function(response) {
                    console.log(response)
                    if(response["result"] == "success") {
                        alert('경기팀을 불러왔습니다.');
                        console.log(response["msg"]);
                        for(var i=0; i<response["msg"].length; i++) {
                            optionTeam(response["msg"][i])
                        }
                    } else {
                        alert(response["msg"]);
                    }
                }
            })
		});
        function optionTeam(insertValue) {
		    let teamHtml = '<option value="'+insertValue+'">'+insertValue+'</option>';
		    $('#gameTeam').append(teamHtml);
		}

		// 배구팀에 해당하는 선수 불러오기
		$(document).on("change", "#gameTeam", function() {
		    var gameMonthVal = $('#gameMonth').val();
            var gameNumVal = $('#gameNum').val();
            var gameTeamVal = $('#gameTeam').val();
            $('#gamePlayer').html('<option>배구선수</option>');
            $.ajax({
                type:"POST",
                url: "/player",
                data: { month: gameMonthVal, number: gameNumVal, team: gameTeamVal },
                success: function(response) {
                    alert('선수를 불러왔습니다.');
                    console.log(response)
                    for(var i=0; i<response.length; i++) {
                        optionPlayer(response[i])
                    }
                }
            })
		})
        function optionPlayer(insertValue) {
		    let playerHtml = '<option value="'+insertValue+'">'+insertValue+'</option>';
		    $('#gamePlayer').append(playerHtml);
		}

        // 최종 데이터 요청
		function register() {
            var gameMonthVal = $('#gameMonth').val();
            var gameNumVal = $('#gameNum').val();
            var gameTeamVal = $('#gameTeam').val();
            var gamePlayerVal = $('#gamePlayer').val();

            $.ajax({
                type: "POST",
                url: "/volley",
                data: {
                        gameMonth: gameMonthVal,
                        gameNum: gameNumVal,
                        gameTeam: gameTeamVal,
                        gamePlayer: gamePlayerVal
                    },
                success: function(response) {
                    alert('선수의 기록을 불러왔습니다.');
                    console.log(response)
                    $('.position_wrap').html('');
                    allInfo(
                        response['position1T'], response['position1F'], response['position1M'],
                        response['position2T'], response['position2F'], response['position2M'],
                        response['position3T'], response['position3F'], response['position3M'],
                        response['position4T'], response['position4F'], response['position4M'],
                        response['position5T'], response['position5F'], response['position5M'],
                        response['position6T'], response['position6F'], response['position6M'],
                        response['allT'], response['allF'], response['allM'],
                        response['ourResult'], response['gamePlayer']
                    )
                }
            })
        }
        function allInfo(position1T, position1F, position1M,
                         position2T, position2F, position2M,
                         position3T, position3F, position3M,
                         position4T, position4F, position4M,
                         position5T, position5F, position5M,
                         position6T, position6F, position6M,
                         allT, allF, allM, ourResult, gamePlayer) {
            let infoHtml = '<div class="position_box position04">\
                                <h3 class="title">Position 4</h3>\
                                <div class="score_box">\
                                    <p class="success">득점 : <span class="score">'+position4T+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="fail">실점 : <span class="score">'+position4F+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="margin">마진 : <span class="margin_score">'+position4M+'</span></p>\
                                </div>\
                                <div class="img_box"><img src="../static/images/position4.png"></div>\
                            </div>\
                            <div class="position_box position03">\
                                <h3 class="title">Position 3</h3>\
                                <div class="score_box">\
                                    <p class="success">득점 : <span class="score">'+position3T+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="fail">실점 : <span class="score">'+position3F+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="margin">마진 : <span class="margin_score">'+position3M+'</span></p>\
                                </div>\
                                <div class="img_box"><img src="../static/images/position3.png"></div>\
                            </div>\
                            <div class="position_box position02">\
                                <h3 class="title">Position 2</h3>\
                                <div class="score_box">\
                                    <p class="success">득점 : <span class="score">'+position2T+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="fail">실점 : <span class="score">'+position2F+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="margin">마진 : <span class="margin_score">'+position2M+'</span></p>\
                                </div>\
                                <div class="img_box"><img src="../static/images/position2.png"></div>\
                            </div>\
                            <div class="position_box not_position">\
                                <h3 class="title">Not Position</h3>\
                                <div class="score_box">\
                                    <p class="success">득점 : <span class="score">27점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="fail">실점 : <span class="score">27점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="margin">마진 : <span class="margin_score">8</span></p>\
                                </div>\
                            </div>\
                            <div class="position_box position05">\
                                <h3 class="title">Position 5</h3>\
                                <div class="score_box">\
                                    <p class="success">득점 : <span class="score">'+position5T+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="fail">실점 : <span class="score">'+position5F+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="margin">마진 : <span class="margin_score">'+position5M+'</span></p>\
                                </div>\
                                <div class="img_box"><img src="../static/images/position5.png"></div>\
                            </div>\
                            <div class="position_box position06">\
                                <h3 class="title">Position 6</h3>\
                                <div class="score_box">\
                                    <p class="success">득점 : <span class="score">'+position6T+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="fail">실점 : <span class="score">'+position6F+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="margin">마진 : <span class="margin_score">'+position6M+'</span></p>\
                                </div>\
                                <div class="img_box"><img src="../static/images/position6.png"></div>\
                            </div>\
                            <div class="position_box position01">\
                                <h3 class="title">Position 1</h3>\
                                <div class="score_box">\
                                    <p class="success">득점 : <span class="score">'+position1T+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="fail">실점 : <span class="score">'+position1F+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="margin">마진 : <span class="margin_score">'+position1M+'</span></p>\
                                </div>\
                                <div class="img_box"><img src="../static/images/position1.png"></div>\
                            </div>\
                            <div class="position_box all_position">\
                                <h3 class="title">All Position</h3>\
                                <div class="score_box">\
                                    <p class="success">득점 : <span class="score">'+allT+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="fail">실점 : <span class="score">'+allF+'점</span> (<span class="percent">36%</span>)</p>\
                                    <p class="margin">마진 : <span class="margin_score">'+allM+'</span></p>\
                                </div>\
                                <p class="result">Result : <span class="result_text">'+ourResult+'</span></p>\
                            </div>';
            $('.position_wrap').append(infoHtml);
        }
    </script>
</head>
<body>
<div class="wrapper">
	<div class="container">

		<!-- 타이틀 영역 -->
		<div class="title_wrap">
			<h1>volleybbong</h1>
			<p>women’s volleyball</p>
		</div>

		<!-- select 영역 -->
		<div class="select_wrap">
			<div class="select_box">
				<select id="gameMonth">
					<option>경기날짜</option>
				</select>
				<select id="gameNum">
					<option>경기번호</option>
				</select>
				<select id="gameTeam">
					<option>배구팀</option>
				</select>
				<select id="gamePlayer">
					<option>배구선수</option>
				</select>
			</div>
			<div class="select_submit">
				<button type="button" onclick="register()">전송</button>
			</div>
		</div>

		<!-- 포지션 영역 -->
		<div class="position_wrap">

		</div>
	</div>
</div>
</body>
</html>